player-connection-mode=Connect
player-connection-guid=898982372
player-connection-debug=1
player-connection-project-name=temp
player-connection-wait-timeout=-1
player-connection-ip=192.168.102.118
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
profiler-enable-deep-profiling-support=1
build-guid=f9e81e08eff04da0bc8f4364253f4455
